.game-content{
  border: 1px solid;
}

.game-title{
  margin: 50px;
  position: absolute;
  top: -20px;
}
  
.board-content{
  margin: 70px 30px 30px;
}

.button{
  color: white;
  width: 100px;
  height: 100px;
  display: block;
  background: black;
  border-radius: 80%;
  outline: none;
}
.board-row{
  display: flex;
}

.game-info{
  display: inline;
}